In [6]:
#read a csv file

In [1]:

import pandas as pd
df=pd.read_csv("data.csv")
print(df.head())

      Name  Age        City
0     syed   20     vellore
1    sahil   21     chennai
2    riyaz   21       pondy
3    suheb   23   hyderabad
4  sufiyan   22  tirupattur

In [5]:
#Extracting csv into pandas

In [4]:
data=pd.read_csv("data.csv")
print("columns:",data.columns)
print("dt preview:\n",data)

columns: Index(['Name', 'Age', 'City'], dtype='object')
dt preview:
       Name  Age        City
0     syed   20     vellore
1    sahil   21     chennai
2    riyaz   21       pondy
3    suheb   23   hyderabad
4  sufiyan   22  tirupattur

In [7]:
#append to csv

In [12]:
new_data=pd.DataFrame({
    "Name":["john","cris"],
    "Age":[28,24],
    "City":["delhi","chennai"]
})

#append to existing csv
new_data.to_csv("data.csv",mode="a",
header=False,index=False)

In [13]:
#read a csv chunk by chunk

In [18]:
csv_iterator=pd.read_csv("data.csv",iterator=True,chunksize=1000)
tp=[]
for chunk in csv_iterator:
    for index,row in chunk.iterrows():
        print(row)
    tp.append(chunk)

df=pd.concat(tp,ignore_index=True)

Name       syed
Age          20
City    vellore
Name: 0, dtype: object
Name      sahil
Age          21
City    chennai
Name: 1, dtype: object
Name    riyaz
Age        21
City    pondy
Name: 2, dtype: object
Name        suheb
Age            23
City    hyderabad
Name: 3, dtype: object
Name       sufiyan
Age             22
City    tirupattur
Name: 4, dtype: object
Name     john
Age        28
City    delhi
Name: 5, dtype: object
Name       cris
Age          24
City    chennai
Name: 6, dtype: object
Name     john
Age        28
City    delhi
Name: 7, dtype: object
Name       cris
Age          24
City    chennai
Name: 8, dtype: object
Name     john
Age        28
City    delhi
Name: 9, dtype: object
Name       cris
Age          24
City    chennai
Name: 10, dtype: object
Name     john
Age        28
City    delhi
Name: 11, dtype: object
Name       cris
Age          24
City    chennai
Name: 12, dtype: object

In [19]:
#write numeric data into csv

In [21]:
num_data=pd.DataFrame({
    "id":[1,2,3,4],
    "marks":[88,92,76,95],
    "rank":[2,1,4,3]
})

num_data.to_csv("data.csv",index=False)

In [22]:
#write text data into csv

In [24]:
text_data=pd.DataFrame({
    "Name":["alice","bob","charlie"],
    "City":["mumbai","bangalore","hyderabad"],
    "Department":["HR","IT","Finance"]
})

text_data.to_csv("data.csv",index=False)